html {
    font-family: 'Lilita One', sans-serif;
    font-size: 20px;
    color:rgba(128, 0, 0, 0.438);
    text-align: center;
}
header {
    height: 90px;
    margin: 0;
    background:rgba(128, 0, 0, 0.438);
    text-align: center;
}
#logo {
    float :left;
}
#head {
    text-decoration: none;
    color: white;
}
#image img{
    height: 200px;
    transition: transform .1s;
}
#image img:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
footer {
    height: 90px;
    margin: 0;
    background:rgba(128, 0, 0, 0.438);
    text-align: center;
}